{% extends 'base.html' %}

{% block content %}

<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">All Products</h1>
        <p class="lead">
            Browse our collection of bags, bottles and stationery.
        </p>
    </div>
</div>

<div class="container">

    <div class="row">

        {% for product in products %}

        <div class="col-md-3 mb-4">

            <div class="card h-100 shadow-sm">

                <a href="{% url 'products:product_detail' product.id %}">

                    <img src="{{ product.image_url }}"
                         class="card-img-top"
                         style="height:250px; object-fit:cover;">

                </a>

                <div class="card-body text-center">

                    <h5 class="card-title">

                        <a href="{% url 'products:product_detail' product.id %}"
                           style="text-decoration:none; color:black;">

                            {{ product.name }}

                        </a>

                    </h5>

                    <h5 class="text-success">
                        ${{ product.price }}
                    </h5>

                    <a href="{% url 'products:add_to_cart' product.id %}"
                       class="btn btn-primary btn-block">
                        Add to Cart
                    </a>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}